language: node_js
node_js:
- '4'
- '6'
env:
  global:
    - CXX=g++-4.8
    - secure: "oZo1mWz69bvOnArdxLXPa35IPBVIQiYCBA67qOtvhWtS4chFrxPAp/j3XI2q/tot2ck7sQCjJwiTFK5ZwZnE5/dpwbj9jAw+QPhWfVBYmbIrlO0LRC3tlnTGbcatEvBNyLf982lRUiahMHYbL7yLIh8iicLYaH6VXl4Y87XIXEVMkpCm1F/+qvHx8iM0WPB4phWgHFtNUPCIgWwtHLjqtfd7qZPop2SvqxX+MmBwV266/6zFXru68pd2NrJoTPAFCtpzy+zfmA+xRssUlEVzZ6ZEXHGbGL6NPZ8nsY+BJ1BD2Tx3zLH48Bo5Lwk8kN/GWU+d/nJhbktuPFaT9o4yhBzf7J40kTJSoe2jDwqfLyGIxTDKNvVHWzraf6ioGa4N2yM7UbflvaQuuMhQ5lrmG2csfxZPVguk5vSeR8HaltlobN4lbSut8ebOdt+RvmZdt5EvPtdm0fxMUEe1J3u2MKwjv5ajPBlWUgXZO0vbIjqTA67qqVhV0s7l0fMHg2ms94GZ9iwTlKTV99aZDPi0SCptHY3Fk3Qjz3xTu+2yHYu82ULUckV5jtnDjFdGdAXaD5Qs/ZyatCvvm8/vyyhd9NLjb9DDtNrNi4akH39bwuw11GYw3jyzfjFUtCrKrNVGiuRb1c4GOAG/rRyekYlw8O5I6s8JDQOEu+kqVnggAnM="
sudo: required
dist: trusty
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - google-chrome
    packages:
    - g++-4.8
    - google-chrome-stable
  firefox: latest
before_install:
- firefox --version 2>/dev/null
- google-chrome --product-version
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
script:
- npm run lint
- npm test
- node ./bin/webcoach.js -b chrome https://www.sitespeed.io > output.json
- node ./bin/webcoach.js -b firefox https://www.sitespeed.io > output.json
- node ./bin/webcoach.js -b chrome --mobile https://www.sitespeed.io > output.json
notifications:
  slack:
    secure: Bo/bgmtFVGj6I2XnkvERfGnoM+t73WQSsP5eMlGM0jhUSKPqIc7Hf2zjYil3amMY3awFnoA6prILcMBzyUURj3jc5VRsWBCf6aQZ3bM+xzAcuTMcoiAKS7Ru1HQj1WY8G7VycDWuNeF8dCT0kt2QhcSneAUQ0qqyclWjcOK22kw=

deploy:
  provider: releases
  api_key: $GH_OAUTH
  file: 'dist/coach.bookmarklet.js'
  skip_cleanup: true
  on:
    tags: true
    node: '4.3'
notifications:
  slack:
    rooms:
      secure: sMRckpSJ6AhIYp3qa2gJz16hLKwSNDINfOE5PkuR+O335+TQoGBQsHnjduYTZEZo2niD3iFJjXp4G7rzLEhw++RAzsBt4kK0+3MlSVhhdPX3YqNpJfAf107y3UL+wV7/prvxFDw8wnmLFEU/jp8XbU4jjgmGFXNP33hWVfrX31ZsxFkTnLcU336CUIh29agYPc9kQDb6uLcJaZvvREksuMmMxp3FHiDcIvBD2Mk9+TNMrifXREW5NLvEVt/Ee4jD70N4inDRb0pEq+DZnE/1G5JcSpCSAkobMGAkVf9j1sYmt9+5hhQQITunI0E0rDoPfLx3/EChea7LEvWIrUcMSV2N6C0wosXd1mBFwzH1AXrcTQ04/s1FuncdOgYeboEygY5VSPYbFkrPkzs4J1uIo86sA2y/1kPTVIVIG1axVouv3kdsT9jy0wSOcFHQ8hccRiSm7eBQrLMUE7AQrq1JgLfh19PA5pkgPjYsmMLWb+MANVytoGkv/tvYYqSUEOLM4Vvv14rVAcOx3dwyAQUsDQMGoqqsirqCVUYbzeUaPK0hJRT7q6nRztMAPezdECbjypmTMn4v5AcgmFw7OOPiCrnmsIbI1u+Abbldj2J54Vnetakn8JH34iEteg0GAZa+5Gnb/preTaFC1iIsf5cILGt50mItUjYHVSugT7Ov9eY=
