doctype html
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    title Sitespeed.io results for https://www.sitespeed.io
    meta(name='description', content='Web performance test performed 2016-04-01 07:05:44 with Firefox using a cable connection from New York.')
    meta(name='keywords', content='sitespeed.io, wpo, webperf, perfmatters, performance')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='img/ico/sitespeed.io-144.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/ico/sitespeed.io-114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/ico/sitespeed.io-72.png')
    link(rel='apple-touch-icon-precomposed', href='img/ico/sitespeed.io-57.png')
    link(rel='shortcut icon', href='img/ico/sitespeed.io.ico')
  body#hero.resultpage
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-31246987-3', 'auto');
      ga('send', 'pageview');
    #container
      #top
      header
        a.homelink(href='https://run.sitespeed.io') sitespeed.io
      #page
        #content
          block content
          #share-result
            a(href='index2.html')
              button#result-see-details.result-button See details
            |  
            a(href='bf2b7d51-0ce0-446e-ada9-fc7f4ff3a540.tar.gz')
              button#result-download.result-button Download
            ul#share
              li.twitter
                a(href='https://twitter.com/intent/tweet?text=http://results.sitespeed.io/d19c-2016/3/1/bf2b7d51-0ce0-446e-ada9-fc7f4ff3a540/', title='Share on Twitter')
                  span.count Tw
              li.facebook
                a(href='https://www.facebook.com/sharer/sharer.php?u=http://results.sitespeed.io/d19c-2016/3/1/bf2b7d51-0ce0-446e-ada9-fc7f4ff3a540/', title='Share on Facebook')
                  span.count Fb
              li.googleplus
                a(href='https://plus.google.com/share?url=http://results.sitespeed.io/d19c-2016/3/1/bf2b7d51-0ce0-446e-ada9-fc7f4ff3a540/', title='Share on Google Plus')
                  span.count G+
              li.pinterest
                a(href='https://pinterest.com/pin/create/button/?url=&media=http://results.sitespeed.io/d19c-2016/3/1/bf2b7d51-0ce0-446e-ada9-fc7f4ff3a540/&description=') Pinterest
              li.linkedin
                a(href='https://www.linkedin.com/shareArticle?mini=true&url=http://results.sitespeed.io/d19c-2016/3/1/bf2b7d51-0ce0-446e-ada9-fc7f4ff3a540/&title=&summary=&source=') LinkedIn
      footer
        a.homelink(href='https://run.sitespeed.io') Sitespeed.io
        ul#footerlinks.footerlist
          li
            a(href='https://run.sitespeed.io/') Home
          li
            a(href='https://run.sitespeed.io/about/') About
          li
            a(href='https://run.sitespeed.io/sponsors/') Sponsors
          li
            a(href='https://run.sitespeed.io/dashboard/') Dashboard
          li
            a(href='https://run.sitespeed.io/faq/') FAQ
        ul#footershare.socialcount.footerlist
          li.facebook
            a(href='https://www.facebook.com/sitespeed.io', title='Like on Facebook')
          li.twitter
            a(href='https://twitter.com/sitespeedio', title='Follow on Twitter')
          li.github
            a(href='https://github.com/sitespeedio/sitespeed.io', title='Star on Github')
